{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{ title }}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="Copyright" content="cvvnx1@163.com" />
    <meta name="keywords" content="SliceVA, Python, Django, open-source" />
    <meta name="description" content="SliceVA is a management tool for watching switches and routers" />
</head>
<body>
<form method="post" action="">
<table>
<tr>
<td>{{ form.username }}</td>
</tr>
<tr>
<td>{{ form.password }}</td>
</tr>
<tr>
<td><input type="submit" /></td>
</tr>
</table>
</form>
</body>
</html>

